<!--This is just a basic template of the medicines for a user. It's really just to show off basic databinding-->
<!DOCTYPE HTML>
<html ng-app="myApp">
  <head>
    <title>Medicine Page</title>

    {%block javascript%}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src ="{{ url_for('static', filename='medicines.js')}}"></script>
    {%endblock%}
  </head>
  <body ng-controller="MedicineController">
    <!--Just display a home button and the user medicine info-->
    {%raw%}
    <div ng-if = "showPage" class="ng-cloak max-w-7xl mx-auto min-h-screen p-3 mt-10">

      <!--Home button-->
      <div class = "flex flex-wrap content-center gap-2 my-2 sm:flex-nowrap" >
        <!--The home button is just another link. It's probably not necessary on this page if we are being honest-->
        

        <!--This link will send you to the home page-->
        <div class="absolute top-4 left-16 h-16 w-16">
          <a href="/home" type="button" class=" text-black bg-white border outline outline-2 fill-gray-300 border-gray-500 hover:bg-gray-800 hover:text-white focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
            Home
          </a>
        </div>

        <!--Create medicine button. This should open a popup where a user is on another page, but they can make a medicine-->
        <div class="absolute top-4 right-16 h-16 w-48">
          <button ng-click="openForm()" type="button" class=" text-black bg-white border fill-teal-500 border-teal-500 hover:bg-teal-500 hover:text-white focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
            Add New Medicine
          </button>
        </div>

        

      </div>
      
      <h2 class = "text-center font-semibold ">Your Medicines and Prescriptions</h2>

      <!--This is the form for creating a new medicine. It will be hidden until the Add New Medicine button is clicked-->
      <!--It is really just a pair of input boxes that will appear-->

      <form class="absolute right-16 min-w-[25%] bg-white border-4 border-black" name="addMedsForm" ng-model="addMedsForm"  ng-submit="onSubmit()">
        <!--Use a simple textbox for data entry. Show something if they entered an incorrect name or amount-->
          <div>
            <p class="mt-10 font-semibold text-sm">Medicine Name</p>
            <input id="name" name="name" ng-model="formData.name" class="w-full ring-1 rounded-md p-2 mt-1 font-light hover:ring-blue-500"
            placeholder="Enter Medicine Name">    
            
          </div>
          <div>
            <span ng-show="addMedsForm.name.$touched && addMedsForm.name.$invalid" class="mt-10 font-semibold text-sm">Please enter the medicine name</span>
          </div>
          <div>
            <p class="mt-10 font-semibold text-sm">Medicine Amount in Milligrams (mg)</p>
            <input id="amount" name="amount" ng-model="formData.amount" class="w-full ring-1 rounded-md p-2 mt-1 font-light hover:ring-blue-500"
            placeholder="Enter Amount" required = "0" min = "0">
          </div>
          <div>
            <span ng-show="(addMedsForm.amount.$touched && addMedsForm.amount.$invalid) || addMedsForm.amount.$error.min" class="mt-10 font-semibold text-sm">Please enter a nonzero amount</span>
          </div>
  
  
          <div>
            <!--Add the medicine with this form or close the popup-->
            

            <button type="close" ng-click="closeForm()" class="w-full p-2 mt-6 text-white rounded-lg bg-red-500 hover:bg-red-700" >
              Cancel</button>

            <button type="submit" class="w-full p-2 mt-6 text-white rounded-lg bg-green-500 hover:bg-green-700" 
              ng-show="(formData.name && formData.amount && !isNaN(formData.amount) && formData.amount > 0 )">Add Medicine</button>
  
            
          </div>
        </form>
      
      

      <div class=" flex-wrap content-center gap-2 my-2 sm:flex-nowrap"></div>
        <ul class="list-none">
          <!--ng-repeat for all the medicines we returned-->
          <!--The user may have no medicines so just show nothing if that is the case-->
          <!--If REST API was data agnostic we might be able to have a specific picture for this-->
          <li ng-if = "medicines.length > 0" ng-repeat = "med in medicines">
            <p>{{med.name}}</p>
            <p>{{med.amount}} mg.</p>
          </li>
          <li ng-if = "medicines.length == 0">You have no medicines or prescriptions to take</li>
        </ul>
      </div>
    </div>

    {%endraw%}

  </body>
</html>