<!DOCTYPE HTML>

<!--Page to display a user's information-->
<html ng-app="myApp">
  <head>
    <!--The javascript has to go in these tags--->
    {%block javascript%}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="{{ url_for('static', filename='user.js')}}"></script>
    
      
    <script>console.log("f")</script>
      
    
    {%endblock%}
  </head>

  <body ng-controller="UserController">
    

    <!--Flask and jinja are often uncooperative with JS variables so we need these extra curly braces.-->
    <h2>Welcome to your personal medicine page </h2>
    
    <!--Buttons to select profile or settings-->
    

    

    
  </body>


</html>

