<!DOCTYPE HTML>

<!--Page to display a user's information-->
<html ng-app="myApp">
  <head>
    <!--The javascript has to go in these tags--->
    {%block javascript%}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="{{ url_for('static', filename='user.js')}}"></script>
    
      
    
      
    
    {%endblock%}
  </head>

  <body ng-controller="UserController" ng-if="">
    {%raw%}

    <!--Flask and jinja are often uncooperative with JS variables so we need these extra curly braces.-->
    <h2>Welcome to your personal medicine page {{user.username}}</h2>
    
    <!--Buttons (These are really just links) to select profile or settings-->
    <!--Room to add new links-->
    <a href="customer/order"
					class="flex items-center gap-1 p-2 rounded-md mt-2 text-white bg-blue-500 hover:bg-blue-700">
			<svg xmlns="http://www.w3.org/2000/svg" height="1em"
						viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
					<style>
							svg {
								fill: #ffffff
							}
						</style>
				<path
							d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
				</svg>
				<p class="font-semibold"> My Profile</p>
		</a>
    {%endraw%}

    

    
  </body>


</html>

