<!DOCTYPE HTML>

<!--Page to display a user's information-->
<html ng-app="myApp">
  <head>
    <!--The javascript has to go in these tags--->
    {%block javascript%}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="{{ url_for('static', filename='user.js')}}"></script>
    
      
    
      
    
    {%endblock%}
  </head>

  <body ng-controller="UserController">
    {%raw%}

    <!--Flask and jinja are often uncooperative so we need this to be a raw block.-->
    


    
    <!--Buttons (These are really just links) to select profile or settings-->
    <!--Room to add new links-->
    <!--These buttons came from the CSS tailwind library. Source: https://flowbite.com/docs/components/buttons/-->
    <div ng-cloak class="ng-cloak max-w-7xl mx-auto min-h-screen p-3 mt-10">

      <!--Logout and home buttons. The logout is an actual button that needs to wrap up the user-->
      <div class = "flex flex-wrap content-center gap-2 my-2 sm:flex-nowrap" >
        <!--The home button is just another link. It's probably not necessary on this page if we are being honest-->
        <!--
        <div class="absolute left-0 top-0 h-16 w-16">
          <p>Left</p>
        </div>
        -->

        <!--This button will run a function and log us out. I will keep it on the home page only-->
        <div class="absolute top-4 right-16 h-16 w-16">
          <button ng-click="logout()" type="button" class=" text-black bg-white border fill-rose-500 border-rose-500 hover:bg-rose-500 hover:text-white focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
            
            Logout
          </button>
        </div>
      </div>

      <!--Banner for the welcome message to the user-->
      <h2 class = "text-center font-semibold ">Welcome To Your Personal Medicine Page {{user.username}}</h2>


      <!--Row so the user can select a bunch of links to new pages-->
      <div class=" flex-wrap content-center gap-2 my-2 sm:flex-nowrap">
				
        
        <a href = "/" type="button" height = "1em" class=" flex w-2/12 items-center text-black hover:text-white border fill-sky-500 hover:fill-white border-sky-500 hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-[#000000]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
        <svg class = "w-6 h-6 left-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
        
          Medical Profile
          
        </a>

        <a href = "/" type="button" height = "1em" class=" flex w-2/12 items-center text-black hover:text-white border fill-teal-500 hover:fill-white border-teal-500 hover:bg-teal-500 focus:ring-4 focus:outline-none focus:ring-[#000000]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
          <svg class = "w-6 h-6 left-0" aria-hidden="true"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path d="M32 0C14.3 0 0 14.3 0 32V192v96c0 17.7 14.3 32 32 32s32-14.3 32-32V224h50.7l128 128L137.4 457.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L288 397.3 393.4 502.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L333.3 352 438.6 246.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 306.7l-85.8-85.8C251.4 209.1 288 164.8 288 112C288 50.1 237.9 0 176 0H32zM176 160H64V64H176c26.5 0 48 21.5 48 48s-21.5 48-48 48z"/></svg>
          
          Medications
            
        </a>
      </div>

      
    </div>
    {%endraw%}

    

    
  </body>


</html>

